[LOG]
pathOutFile = NewsScaper
pathErrFile = NewsScaper.error

[DB]
host = YOUR_HOST
port = YOUR_PORT
user = YOUR_USER
password = YOUR_PASSWORD
database = YOUR_DATABASE_NAME

[WP]
host = YOUR_WP_HOST
user = YOUR_WP_USER
password = YOUT_WP_PASS

[WEBSITES]
websites = website1.example.com website2.example.com
